* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerAltura: 100px;
  --headerColor: orange;
}
@media (min-width: 1245px) {
  .barra-superior {
    width: 100%;
    height: var(--headerAltura);
    background-color: var(--headerColor);
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav_logo {
    width: 150px;
    height: auto;
    margin: 20px;
  }

  .nav_links {
    display: flex;
    list-style-type: none;
    height: 100%;
  }

  .nav_links .link {
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_links .link:hover {
    background-color: rgb(255, 177, 32);
  }

  .link a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .link a:hover {
    text-decoration: underline;
  }

  .nav_inputs {
    position: absolute;
    right: 50px;
  }

  .nav_inputs .input_search {
    background-color: white;
    border: 2px rgb(207, 207, 207) solid;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    padding: 0 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .nav_inputs .input_submit {
    background-color: #c61d25;
    color: white;
    width: 100px;
    height: 50px;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 1.1rem;
    float: right;
  }
}

@media (min-width: 888px) and (max-width: 1245px) {
  .barra-superior {
    width: 100%;
    height: var(--headerAltura);
    background-color: var(--headerColor);
    display: flex;
    align-items: center;
  }

  .nav_logo {
    width: 150px;
    height: auto;
    margin: 20px;
  }

  .nav_links {
    display: flex;
    list-style-type: none;
    height: 100%;
  }

  .nav_links .link {
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_links .link:hover {
    background-color: rgb(255, 177, 32);
  }

  .link a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .link a:hover {
    text-decoration: underline;
  }

  .nav_inputs {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 888px) {
  .barra-superior {
    width: 100%;
    height: var(--headerAltura);
    background-color: var(--headerColor);
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .nav_logo {
    width: 150px;
    height: auto;
    margin: 20px;
  }

  .nav_links {
    display: flex;
    list-style-type: none;
    height: 100%;
  }

  .nav_links .link {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_links .link:hover {
    background-color: rgb(255, 177, 32);
  }

  .link a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .link a:hover {
    text-decoration: underline;
  }

  .nav_inputs {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 769px) {
  .barra-superior {
    width: 100%;
    height: var(--headerAltura);
    background-color: var(--headerColor);
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .nav_logo {
    width: 150px;
    height: auto;
    margin: 20px;
  }

  .nav_links {
    display: none;
  }

  .nav_inputs {
    display: none;
  }

  .menu-icon {
    position: absolute;
    right: 30px;
  }

  .menu-icon .linha {
    width: 40px;
    height: 5px;
    margin: 10px 0;
    background-color: black;
  }

  .Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
  }

  .Menu h2 {
    color: white;
    font-size: 2rem;
    margin: 20px 0;
  }

  .menu_links {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 2rem;
    width: 100%;
  }

  .menu_links .link {
    border-top: 2px orange solid;
    padding: 10px 20px;
  }

  .menu_links .link a {
    color: orange;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .menu_links .link a:hover {
    text-decoration: underline;
  }

  .menu_links .links a:active {
    text-decoration: underline;
  }
}
